[submodule "Assets/PCDModules"]
	path = Assets/PCDModules
	url = https://gitee.com/pcdstudio/PCDModules.git
[submodule "Assets/PCDUtils"]
	path = Assets/PCDUtils
	url = https://gitee.com/pcdstudio/PCDUtils.git
[submodule "Assets/PCDAssets"]
	path = Assets/PCDAssets
	url = https://github.com/PCDGameStudio/PCDAssets.git
[submodule "Assets/CozyFarm"]
	path = Assets/CozyFarm
	url = https://github.com/PCDGameStudio/CozyFarm.git
